body {
  background: #020617;
  color: white;
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  background: #020617;
  padding: 30px;
  border-radius: 14px;
  width: 400px;
  box-shadow: 0 20px 40px rgba(0,0,0,0.6);
}

h1 {
  text-align: center;
  margin-bottom: 20px;
}

input, button {
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  border-radius: 8px;
  border: none;
}

button {
  background: #2563eb;
  color: white;
  font-weight: bold;
  cursor: pointer;
}

.result {
  margin-top: 20px;
  padding: 15px;
  border-radius: 8px;
  text-align: center;
}

.result.Attack {
  background: #7f1d1d;
}

.result.Normal {
  background: #14532d;
}
